################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/Company.Application/obj
/Company.Domain/obj
/Company.Infrastructure/obj
/Company.Presentation/obj
/.cursor
/Company.Application/bin
/Company.Domain/bin
/Company.Infrastructure/bin
/Company.Presentation/bin
