@{
    ViewData["Title"] = "محصولات";
}

<h1>لیست محصولات</h1>
<p>این صفحه با مجوز <code>Product.View</code> محافظت شده است.</p>

@if (User.HasClaim(AuthClaimTypes.Permission, "Product.Create"))
{
    <a class="btn btn-success" asp-action="Create">ایجاد محصول</a>
}
